// color
$white: #ffffff;
$black: #000000;
$main-bg: #131517;
$text-primary: #f9f9f9;
$text-secondary: #858b93;
$text-sparagraph: #858b93;
$text-gray: #282c30;
$linear-gradient-primary: linear-gradient(
  90deg,
  #eb9204 -33.14%,
  #83e868 116.38%
);

// font-family
$sora: "Sora", sans-serif;

// font-weight
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;

//Media Breakpoints//
// max-width

$phone_max: "max-width:576px";
$tablet_max: "max-width:768px";
$desktop_max: "max-width:1024px";
$large-screen_max: "max-width:1280px";

// min-width

$phone_min: "min-width:576px";
$tablet_min: "min-width:768px";
$desktop_min: "min-width:1024px";
$large-screen_min: "min-width:1280px";
