// color
$white: #ffffff;
$black: #000000;
$main-bg: #131517;
$text-primary: #f9f9f9;
$text-secondary: #858b93;
$text-sparagraph: #858b93;
$text-gray: #282c30;
$linear-gradient-primary: linear-gradient(
  90deg,
  #eb9204 -33.14%,
  #83e868 116.38%
);

// font-family
$sora: "Sora", sans-serif;

// font-weight
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
